
<div class="myContainer container-fluid">
  <div class="row h-75 text-white">
    <div class="mx-auto my-auto">
      <div class="row">
        <div class="col-md-2 text-center">
          <p><i class="fa fa-exclamation-triangle fa-5x"></i><br/>Code de statut: 403</p>
        </div>
        
        <div class="col-md-10">
          <h3>OUPS!</h3>
          <p>Désolé, votre accès est refusé pour des raisons de sécurité de notre serveur et de nos données sensibles.
          <br/> Veuillez revenir à la page précédente pour continuer à naviguer.
          </p>
          <a class="btn btn-danger" routerLink="/allBuses">Revenir</a>
        </div>
      </div>
    </div>
  </div>
</div>
